<h1>Your payment is succeeded</h1>
<h4>Your Total: €{{total}} EUR</h4>

<div id="charge-error" class="alert alert-danger hidden">
    
</div>

<div class="row">

    <div class="col-md-4 col-md-offset-4">


{{#if messages }}
<p>{{messages}}</p>
{{/if}}

        {{#if hasErrors }}
            <div class="alert alert-danger">
            
            {{# each messages }}
            <p>{{this}}</p>
            {{/each}}

            </div>
        {{/if}}
        <a href="/" class="btn btn-success pull-center" role="button">Done</a>
   
      

   

</div>
</div>
